div.box {
    border: 4px solid rgb(197, 48, 48);
    background-color: rgb(47, 145, 96);
  }
  @media screen and (max-width: 1024px){
    div.box {
      background-color: rgb(10, 25, 158);
    }
    div.box::after {
      content: ' (tablet)'
    }
  }
  @media screen and (max-width: 760px){
    div.box {
      background-color: rgb(241, 18, 167);
    }
    div.box::after {
      content: ' (mobile)'
    }
  }